## Build results
bin/
obj/

## Rider / VS / VSCode
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

## .NET
*.dll
*.exe
*.pdb
*.cache
*.log

## NuGet
*.nupkg
packages/
.nuget/
project.assets.json

## OS
.DS_Store
Thumbs.db

## Test results
TestResults/
coverage/
*.coverage